*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* Header section */
header{
    display: flex;
    margin:20px 50px 50px 70px;
}
.header-text{
    width: 50%;
    margin-top:120px;
    padding-top:100px;
}
.header-text h1{
    font-size:60px;
    margin-bottom: 40px;
    color: #575757;
    line-height:5rem;
    
}
.header-text span{
    color: #FBA24F;
}
.header-text p{
    color: #828282;
    line-height:2rem;
    margin-bottom:50px;
}
.header-text a{
    text-decoration: none;
    background-image: linear-gradient(135deg,#ffa90a, #ff4828);
    padding: 20px 40px;
    border-radius:50%;
    color: #ffff;
    font-weight: 600;
    font-size:20px;
    box-shadow: 5px 5px 10px #ff6347;
    letter-spacing: 0.2em;
}
.header-image{
    width:50%;
    text-align: end;
}
.header-image img{
    width:90%; 
}
/* About area */
.about-section{
    display:flex;
    height: 600px;
    background-image: url(../images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 200px;
    box-sizing: border-box;
    padding:30px 50px 50px 70px;
}
.about-image{
    width: 50%;
}
.about-image img{
    width:70%;
    margin-left:20px;
    padding-left:20px;
}
.about-text{
    width: 50%;
    margin-top: 50px;
    padding-top:50px;
}
.about-text h1{
    font-size:40px;
    color: #707070;
    margin-bottom: 30px;
}
.about-text p{
    color: #18191F;
    font-size:18px;
    line-height:2rem;
    padding-bottom: 25px;
    margin-bottom:30px;
}
.about-text a{
    text-decoration: none;
    background-image: linear-gradient(135deg,#370affb8, #a95edf);
    padding: 20px 40px;
    border-radius:50%;
    color: #ffff;
    font-weight: 600;
    font-size:20px;
    box-shadow: 5px 5px 15px #370aff;
    letter-spacing: 0.2em;
}

