*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* Header section */
header{
    display: flex;
    margin:20px 50px 100px 70px;
}
.header-text{
    width: 50%;
    margin-top:50px;
    padding-top:80px;
}
.header-text h1{
    font-size:50px;
    margin-bottom: 40px;
    color: #575757;
    line-height:5rem;
    
}
.header-text span{
    color: #FBA24F;
}
.header-text p{
    color: #828282;
    line-height:2rem;
    margin-bottom:50px;
}
.header-text a{
    text-decoration: none;
    background-image: linear-gradient(135deg,#ffa90a, #ff4828);
    padding: 20px 40px;
    border-radius:50%;
    color: #ffff;
    font-weight: 600;
    font-size:20px;
    box-shadow: 5px 5px 10px #ff6347;
    letter-spacing: 0.2em;
}
.header-image{
    width:50%;
    text-align: end;
}
.header-image img{
    width:90%; 
}
/* About area */
.about-section{
    display:flex;
    height: 600px;
    background-image: url(../images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
    box-sizing: border-box;
    padding:30px 50px 50px 70px;
}
.about-image{
    width: 50%;
}
.about-image img{
    width:70%;
    margin-left:20px;
    padding-left:20px;
}
.about-text{
    width: 50%;
    margin-top: 50px;
    padding-top:50px;
}
.about-text h1{
    font-size:40px;
    color: #707070;
    margin-bottom: 30px;
}
.about-text p{
    color: #18191F;
    font-size:18px;
    line-height:2rem;
    padding-bottom: 40px;
    margin-bottom:30px;
}
.about-text a{
    text-decoration: none;
    background-image: linear-gradient(135deg,#370affb8, #a95edf);
    padding: 20px 40px;
    border-radius:50%;
    color: #ffff;
    font-weight: 600;
    font-size:20px;
    box-shadow: 5px 5px 20px #370aff9c;
    letter-spacing: 0.2em;
}
/* Recipies area */
.recipie-section{
    margin-bottom: 100px;
}
.recepie-header{
  width:60%;
  margin: 0 auto;
}
.recepie-header h1{
    text-align:center;
    margin-bottom: 25px;
    color: #676767;
}
.recepie-header p{
    text-align: center;
    margin-bottom: 20px;
}
.recipies-card{
    display: flex;
    justify-content:center;
    margin:50px 100px 20px 100px;
}
.food-card{
    width:30%;
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px lightgrey;
    border-radius:30px;
    text-align:center;
    border-radius: 20px;
    margin-left: 5%;
}
.food-card img{
    width:100%;
    border-radius:20px;
    
}
.card-img{
    padding:15px 15px 25px 15px;
    
}
.food-card h1{
    color:#575757;
    margin-bottom: 20px;
}
.food-card p{
    padding:10px 15px;
    margin-bottom:20px;
}
/* Sociqal area */
.social-area{
    margin-bottom: 100px;
    margin-top:150px;
}
.social-width{
    width:80%;
    height:220px;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    box-shadow: 0 0 30px 10px lightgrey;
    border-radius:20px;
}
.follwing-desceiption{
    width:30%;
    text-align:center;
}
.follwing-desceiption h1{
    font-size:50px;
    margin-bottom: 5px;
}
.follwing-desceiption a{
    font-size:35px;
    color: red;
}
.follwing-desceiption:nth-child(2) img{
    width: 35px;   
}
.follwing-desceiption:nth-child(3) img{
    width: 35px; 
}
.follwing-desceiption p{
    font-weight: 500;
    margin-top:5px;
}
/* Form Area */
.from-section{
    height:900px;
    margin-bottom: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(hsla(0, 0%, 0%,0.80),hsla(0, 0%, 50%,0.80)),url(../images/food/bg-food.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}
.contact-form{
    width:60%;
    background-image: linear-gradient(rgba(255, 255, 255,0.4),rgba(14, 14, 14, 0.4));
    margin:0 auto;
    box-sizing: border-box;
    padding-bottom: 50px;
    border-radius:35px;
}
.contact-form .form-header{
    margin-bottom:40px;
    padding:30px 10px;
    box-sizing: border-box;
    border-radius:30px;
}
.form-header h1{
    width:60%;
    margin: 0 auto;
    letter-spacing:1rem;
    font-weight:900;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    border-radius: 45px;
    padding:10px 20px 10px 30px;
    border: 3px solid lightgrey;
}
.input-field{
    width:80%;
    margin:0 auto;
}
label{
    font-size:18px;
    font-weight: 600;
}
.input-field input, textarea{
    width:100%;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 50px;
}
.input-field textarea{
    margin-bottom:20px;
}
button{
    text-align:center;
    background-image: linear-gradient(135deg,#d0d0d051, #f8f8f8);
    padding:10px 30px;
    font-size: 18px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:0.2em;
    border-radius: 50px;
    text-align: center;
    border: none;
}
